<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Home" });
    });
  </script>
<% end %>

<h2> Admin Email -
  <%= @admin_email %></h2>
<h2>Products</h2>



<hr>

<h2>Webhooks</h2>

<% if @webhooks.present? %>
  <ul>
    <% @webhooks.each do |webhook| %>
      <li><%= webhook.topic %> : <%= webhook.address %></li>
    <% end %>
  </ul>
<% else %>
  <p>This app has not created any webhooks for this Shop. Add webhooks to your ShopifyApp initializer if you need webhooks</p>
<% end %>


<h3>---------------------------------------------------------------------------------------------------</h3>
<h2>Listing all product stock </h2>
<% @products.each_with_index do |product, index| %>
 <% if product.variants[0].attributes[:"inventory_quantity"] <= 5 %>
    <%= index %> - Product Name : <%= product.title %>  Stock : <%= product.variants[0].attributes[:"inventory_quantity"] %> </br>
  <% end %>
<% end %>